{% extends '::base.html.twig' %}


{% block title %}
	{{ parent() }} | Test Project
{% endblock %}



{% block body %}
	
	<!-- Page Content -->
	
	<h1>L'Arrosoir</h1>
	<div id="container">
	</div>
	
	<!-- Backbone Templates -->
	
	<script type="text/template" id="templateVegetables">
			<% _.each(vegetables, function(vegetable) { %>
		        <div id="<%= vegetable.id %>">
					<a href="#vegetaux/<%= vegetable.id %>" class="btn"><%= vegetable.name %></a>
					<a href="#" id="<%= vegetable.id %>" class="btn btn-danger remove">X</a>
				</div>
		      <% }); %>
			  <a href="#nouvelle-fiche" class="btn">Créer nouvelle fiche</a>
	</script>
	
	<script type="text/template" id="templateVegetableSheet">
	        <div id="<%= vegetable.id %>">
				<h1><%= vegetable.name %></h1>
				<h2><%= vegetable.type.title %></h2>
				<p><%= vegetable.description %></p>
			</div>
	</script>
	
	<script type="text/template" id="templateFormVegetableSheet">
	        <div id="NewVegetableSheetForm">
				<button id="submit" class="btn btn-primary">Créer la fiche</button>
			</div>
	</script>

	
	<!-- Page Data -->
	<script type="text/javascript">
		var pageData = [];
		{% for veg in vegetals %}
			pageData.push({
				"id" : "{{veg.id}}",
				"name" : "{{ veg.name }}",
				"type" : "{{ veg.type.title }}"
			});
		{% endfor %}
	</script>
	
{% endblock %}